body {
  background-color: black;
}
.nav-link {
  font-size: 20px;
}
.nav-link a {
  text-decoration: none;
  animation: flicker 1.5s infinite alternate;
  color: rgb(40, 211, 40);
}
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #068f18, 0 0 11px #05a30d, 0 0 19px #0ba50b, 0 0 40px rgb(9, 155, 45), 0 0 80px rgb(18, 189, 70), 0 0 90px rgb(9, 160, 47), 0 0 100px rgb(5, 175, 56), 0 0 150px rgb(7, 133, 45);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.btn-button {
  background-color: black;
  border: 1px solid green;
  color: green;
  padding: 10px;
  width: 78px;
  font-size: 15px;
  text-decoration: none;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 0 50px green;
  animation: flicker 1.5s infinite alternate;
}
.btn-button-content {
  background-color: gainsboro;
  color: black;
  border: 1px solid green;
  padding: 10px;
  width: 78px;
  font-size: 15px;
  text-decoration: none;
  border-radius: 30px;
  text-align: center;
}
#kontak {
  font-size: medium;
  background-color: green;
  border-radius: 20%;
  padding: 1.5%;
  color: white;
}
#tabel {
  margin-left: 348px;
}
.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.form-contact {
  display: flex;
  flex-direction: column;
  width: 60vw;
}
.form-contact h1 {
  animation: flicker 1.5s infinite alternate;
  color: rgb(40, 211, 40);
}

.blog-form .form-container h1 {
  animation: flicker 1.5s infinite alternate;
  color: rgb(40, 211, 40);
}
.input-contact {
  border-radius: 5px;
  background-color: black;
  color: green;
  margin: 1px solid green;
  margin-bottom: 8px;
  padding: 6px;
  resize: none;
  width: 540px;
  box-shadow: 0 0 50px green;
}
label {
  animation: flicker 1.5s infinite alternate;
  color: rgb(40, 211, 40);
}
.input-project {
  color: green;
  background-color: black;
  font-size: large;
  border: 1px solid green;
  box-shadow: 0 0 50px green;
}
.submit {
  width: 100px;
  background-color: black;
  color: green;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  animation: flicker 1.5s infinite alternate;
  border: 1px solid green;
  box-shadow: 0 0 50px green;
}

.blog-form {
  padding: 50px;
  display: flex;
  justify-content: center;
}
.blog-form form label {
  font-size: 20px;
  font-weight: bold;
  color: white;
  animation: flicker 1.5s infinite alternate;
  color: rgb(40, 211, 40);
}
.blog-form form input,
textarea,
select {
  margin-bottom: 10px;
  border-radius: 6px;
  resize: none;
  background-color: black;
  color: green;
  border: 1px solid green;
  box-shadow: 0 0 50px green;
}
.blog hr {
  border: 1px solid green;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 50px green;
}
.blog .blog-list-item {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 168px;
}
.blog .blog-list .blog-list-item {
  width: 80%;
  padding: 15px;
  margin-bottom: 20px;
  border: 3px solid green;
  border-radius: 5px;
  display: flex;
}
.blog .blog-list .blog-list-item .blog-image {
  flex: 1;
}
.blog .blog-list .blog-list-item .blog-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.blog .blog-list .blog-list-item .blog-content {
  padding-left: 20px;
  flex: 2;
  color: green;
  animation: flicker 1.5s infinite alternate;
  color: rgb(40, 211, 40);
}
.blog .blog-list .blog-list-item .btn-group .blog-edit {
  text-align: right;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: green;
  border-radius: 10px;
  display: flex;
}
.blog .blog-list .blog-list-item .btn-group .blog-delete {
  text-align: right;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: green;
  border-radius: 10px;
  display: flex;
}
.blog .blog-list h1 a {
  text-decoration: none;
  color: #4db14d;
  text-align: justify;
  margin-right: 10px;
}
.blog .blog-list .detail-blog {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: green;
  animation: flicker 1.5s infinite alternate;
  color: rgb(40, 211, 40);
}
.blog .blog-list p {
  margin-top: 20px;
  font-size: 15px;
  line-height: 20px;
  text-align: justify;
  color: green;
  animation: flicker 1.5s infinite alternate;
}
.hamburger-nav-container {
  display: none;
}
.hamburger-nav-container a {
  color: green;
  animation: flicker 1.5s infinite alternate;
  border: 1px solid green;
  background-color: black;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
.hamburger-nav-container .active {
  background-color: green;
  color: gainsboro;
  box-shadow: 0 0 50px green;
}
@media only screen and (max-width: 500px) {
  #hamburger-button {
    display: block;
  }
  .nav-collapse {
    display: none;
  }
  .hamburger-nav-container {
    display: none;
    font-size: 23px;
    flex-direction: column;
  }
}
